@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto&display=swap');

header{ 
    width: 414px;
    height: 92px;
    background-color: #CF2B2B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    justify-content: center;
    position: fixed;
    top: 0px;
    left: 0px;
}
h1 {
    margin-left: 21px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 55px;
    letter-spacing: -0.012em;
    color: #FFFFFF;
}
h2 {
    margin-left: 21px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;    
    color: #FFFFFF;
}
h3{    
    margin-top: 27px;
    margin-left: 17px;
    font-family: 'Righteous';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    letter-spacing: 0.018em;
    color: #333333; 
}
h3:first-of-type {
    margin-top: 123px;
}
.pratos, .bebidas, .doces {

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 218px;
    width: 414px;
    background-color: blue;  
    overflow-x: scroll;   
}
.caixa {
    height: 178px;
    width: 144px;
    background-color: green;
    border-radius: 9px;
    padding: 14px;
    margin-right: 16px;    
box-shadow: 0px 0px 10px -4px rgba(0, 0, 0, 0.25);   
}
.caixa:first-of-type{
margin-left: 18px;
}